body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
th {
    background-color: #84fe84;
}
th, td {
    border: 1px solid black;
}
.title {
    text-align: center;
    color: #0000ff;
}
.subtitle {
    text-align: center;
    color: #efcd4e;
    font-weight: 500;
}
#descans {
    font-size: 20px;
    padding: 15px;
}
.hores {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
.capçaleres {
    padding: 30px;
    font-size: 25;
}
.lmsgi {
    background-color: #ffc0cb;
}
.bd {
    background-color: #fff8dc;
}
.ped {
    background-color: #5f9ea0;
}
.si {
    background-color: #ffff00;
}
.an {
    background-color: #ffd700;
}
.ipoi {
    background-color: #dc143c;
}
.tut {
    background-color: #6495ed;
}
.diw {
    background-color: #ff7f50;
}